<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>神农训练预览 -- Training Preview  </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
      $(function() {
        const socket = io.connect();
        socket.on('preview', function(msg) {
          console.log(msg);
          $('img#preview').attr("src", "{{ url_for('preview_image') }}?q=" + new Date().getTime());
        });

        socket.on('loss', function(loss_string) {
          console.log(loss_string);
          $('div#loss').html(loss_string);
        });

        function save() {
          $.post("{{ url_for('save') }}");
        }

        function exit() {
          $.post("{{ url_for('exit') }}");
          socket.close();
        }

        function update() {
          $.post("{{ url_for('update') }}");
        }

        function next_preview() {
          $.post("{{ url_for('next_preview') }}");
        }

        function change_history_range() {
          $.post("{{ url_for('change_history_range') }}");
        }

        function zoom_prev() {
          $.post("{{ url_for('zoom_prev') }}");
        }

        function zoom_next() {
          $.post("{{ url_for('zoom_next') }}");
        }

        $(document).keypress(function (event) {
          switch (event.key) {
            case "s"     : save(); break;
            case "Enter" : exit(); break;
            case "p"     : update(); break;
            case " "     : next_preview(); break;
            case "l"     : change_history_range(); break;
            case "-"     : zoom_prev(); break;
            case "="     : zoom_next(); break;
          }
          // console.log('kp:', event);
        });

        $('button#save').click(save);
        $('button#exit').click(exit);
        $('button#update').click(update);
        $('button#next_preview').click(next_preview);
        $('button#change_history_range').click(change_history_range);
        $('button#zoom_prev').click(zoom_prev);
        $('button#zoom_next').click(zoom_next);

        $('img#preview').click(update);
      });
    </script>
</head>
<body>
    <div class="mdl-typography--headline">  -- 神农 训练预览 -- Training Preview --  </div>
    <div id="loss"></div>
    <div>
        <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' id='save'>保存 Save</button>
        <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' id='exit'>退出 Exit</button>
        <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' id='update'>刷新 Update</button>
        <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' id='next_preview'>切换 Next preview</button>
        <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' id='change_history_range'>修改loss曲线范围</button>
        <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' id='zoom_prev'>缩小 Zoom -</button>
        <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' id='zoom_next'>放大 Zoom +</button>
    </div>
    <img id='preview' src="{{ url_for('preview_image') }}" style="max-width: 100%">
</body>
</html>
